################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SessionTokenApi/bin/Debug/net5.0
/SessionTokenApi/obj
/.vs/SessionTokenApi
